
@media (min-width: 600px) and (max-width: 1366px){

body {
	background-color: blue;
	background-image:url(img/fond_2.jpg);
}

input {

	background-color: red;
	margin-left: auto;
    margin-right: auto;

	
}


}
